/**
Variables
 */
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
:root {
  --main-color: #0760fe;
  --main-black: #4a4a4a;
  --light-black:#49515d;
  --main-grey: #dbdbdb;
  --light-grey: #7C8097;
  --fs-xxl: 1.5rem;
  --fs-xl: 1.25rem;
  --fs-lg: 1.2rem;
  --fs: 1rem;
  --fw-xxl: 700;
  --fw-xl: 600;
}
/**
 COLOR GLOBAL
 */

.main-bg {
  background-color: var(--main-color);
}

.main-text {
  color: var(--main-color);
}

/**
  DEFAULT
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/* A link that has not been visited */
a:link
,a:visited,
a:hover,
a:active {
  color: var(--main-black);
  text-decoration: none;
}
header,
h2,
figure,
ul {
  margin: 0;
}

ul {
  list-style-type: none !important;
}


/**
BODY AND HTML
 */
body{
  background:0 0 transparent url('~@/assets/images/background.jpeg') no-repeat;
  padding: 0 var(--fs-xxl);
}

body:before {
  opacity: 0.95;
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: url('~@/assets/images/background-overlay.jpg') 50% no-repeat #14151b;
  background-size:cover;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  background: #181818;
}

#right-container {
  padding: 0 0.75rem;
}
/**
  Containers such as cards
 */
#page {
  display:flex;
}
.page-card {
  background: #ffffff;
  margin-left: var(--fs-xxl);
  padding: var(--fs-xl);
}
.page-title {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-xl);
  text-align:left;
}
.page-subtitle {
  color: var(--light-grey);
  font-size: .75em;
  font-weight: 300;
  text-align: left;
  /* line-height: 30%; */
  /* padding-top: .5em; */
  padding-bottom: .7em;
/* letter-spacing: 1.5px; */
}

.page-description {
  text-align: left;
  font-size: var(--fs);
  line-height: var(--fs-xxl);
  font-weight: 500;
}

.description-highlight {
  color:var(--main-color);
  font-weight:var(--fw-xxl);
}

#profile {
  margin:0;
}
.profile-card {
background: #ffffff;
padding: var(--fs-xxl) 0;
}

.profile-card h2 {
font-size: 0.9rem;
letter-spacing: 1.25px;
font-weight: 300;
}

.profile-card .name {
  color: var(--light-black);
}

.container {
margin: 0 auto;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap:wrap;
}

/**
PROFILE COMPONENT
*/
.avatar {
  position: relative;
  width: 50%;
  margin: -35% auto 0 !important;
}

.avatar img {
  object-fit: fill;
  position: relative;
  z-index: 2;
}

.avatar:after {
  content: "";
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
  background: white;
  position: absolute;
  top: -5%;
  bottom: -5%;
  border-radius: 50%;
  left: -5%;
  z-index: 1;
  right: -5%;
}
.socials {
  margin: 0 0 var(--fs-xxl) 0;
}
.socials ul {
  margin: 0 auto;
}

.socials ul li {
  display: inline-block;
}

.extra-info {
  background:var(--main-grey);
  text-align: left;
}
/**
  NAVBAR
 **/

#navbar{
  margin: 0 0 0.75rem var(--fs-xxl);
  padding: 0;
}


.navbar-item.is-tab:focus, .navbar-item.is-tab:hover,
.nuxt-link-exact-active,
.nuxt-link-active{
  color:var(--main-color) !important;
  border-bottom: 5px solid var(--main-color) !important;
}

.navbar-item.is-tab
{
  line-height: 2.5rem;
  font-weight:var(--fw-xl);
  padding-bottom:calc(0.5rem - 5px);
  border-bottom: 5px solid transparent;
}


.nav-links {
  display:flex;
  flex-direction:row;
  margin-left: var(--fs-xxl);
}


/**
HOBBIES
 */
.hobbies-list {
  flex-wrap:wrap;
}

.hobby-item {
  text-align: left;
}

.hobby-item a {
  text-decoration: none;
}

.hobby-item div {
  display:inline-block;
}

.hobby-item h3 {
  line-height: 40%;
  font-size: var(--fs-lg);
  font-weight: var(--fw-xl);
}

.hobby-item .description-highlight {
  font-size: 0.7rem;
}

/**
MUSIC
 */

iframe {
  display:flex;
  width:100%;
  flex:1 1 auto;
}


/**
 Experience Page
 */
.experience .tabs a {
  font-weight:var(--fw-xl);
  border-bottom:0;
  border-left:3px solid var(--main-grey);
}

.experience .tabs li.is-active a{

  background: rgba(7,96,254,0.1);
  border-left:3px solid var(--main-color);
  color: var(--main-color)
}

.b-tabs.is-vertical {
  flex-wrap:nowrap;
}
.b-tabs .tab-content {
  padding: 0 var(--fs);
  text-align:left;
}

.company {
  font-weight:var(--fw-xl);
  font-size: var(--fs-xl);
}
.company a{
  color:var(--main-color);
  text-decoration:underline;
}

.missions li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.missions li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color:var(--main-color);
}
